<div class="row dashboard">
    <div class="col-lg-2 sidebar">
        <ul class="nav nav-pills nav-stacked">
            <li><a ui-sref="welcome"><span class="glyphicon glyphicon-home"></span>Home</a></li>
            <li><a ui-sref="affiliates"><span class="glyphicon glyphicon-user"></span>Affiliates</a></li>
            <li><a ui-sref="promos"><span class="glyphicon glyphicon-book"></span>Promos</a></li>
            <li><a ui-sref="clients"><span class="glyphicon glyphicon-user"></span>Clients</a></li>
            <li><a ui-sref="exercises"><span class="glyphicon glyphicon-tasks"></span>Exercises</a></li>
            <li><a ui-sref="workouts"><span class="glyphicon glyphicon-book"></span>Workouts</a></li>
            <li><a ui-sref="programs"><span class="glyphicon glyphicon-book"></span>Programs</a></li>
        </ul>
    </div>
    <div class="col-lg-10 col-lg-offset-2 main" ui-view>
        <div class="row adjust">
            <h2>Welcome</h2>
        </div>
    </div>
</div>