<div class="affiliate">
    <form ng-submit="update()" role="form">
        <div class="affiliateAction">
            <a ng-click="cancel()">
                <span class="glyphicon glyphicon-remove" data-toggle="tooltip" data-placement="bottom" title="Cancel"></span>
            </a>
            <a ng-click="remove()" class="pull-right">
                <span class="glyphicon glyphicon-trash" data-toggle="tooltip" data-placement="bottom" title="Delete"></span>
            </a>
        </div>
        <div class="affiliateName">
            <input data-ng-model="affiliate.name" type="text" class="form-control input-lg" id="affiliateName" required>
        </div>
        <div class="affiliateDescription">
            <textarea data-ng-model="affiliate.description" class="form-control" id="affiliateDescription" rows="10" required></textarea>
        </div>
        <button type="submit" class="btn btn-success">Save</button>
    </form>
</div>