@(getterForm: Form[KeyValueData],message:String)

@import helper._
@import helper.twitterBootstrap._

@title = {
    Light Speed
}

@main(title) {

<div id="alert-box"></div>
    
    @helper.form(action = routes.Application.userPost) {
        
        <fieldset>
            <legend>@message</legend>
            
           
            
            @inputText(
                getterForm("key"), '_label -> "Key",
                '_help -> "Enter a valid key."
            )
            
          
        </fieldset>
        
              
       
        <div class="actions">
            <input type="submit" class="btn primary" value="Get Value" >
        </div>
        
   
    }

    
}