<div class="exercise">
    <form ng-submit="update()" role="form">
        <div class="exerciseAction">
            <a ng-click="cancel()">
                <span class="glyphicon glyphicon-remove" data-toggle="tooltip" data-placement="bottom" title="Cancel"></span>
            </a>
            <a ng-click="remove()" class="pull-right">
                <span class="glyphicon glyphicon-trash" data-toggle="tooltip" data-placement="bottom" title="Delete"></span>
            </a>
        </div>
        <div class="exerciseName">
            <input data-ng-model="exercise.name" type="text" class="form-control input-lg" id="exerciseName" required>
        </div>
        <div class="exerciseDesc">
            <textarea data-ng-model="exercise.description" class="form-control" id="exerciseDesc" rows="10" required></textarea>
        </div>
    </form>
</div>