@(message:String)
@import helper._
@import controllers.routes.javascript._

@title = {
    Light Speed
}

@main(title) {

<script type="text/javascript" src="@routes.Application.javascriptRoutes"></script>
       
        
        <fieldset>
        <div id="value" > </div>
            <input type='text' id='key'/>
          	<input type='button' value='Submit' id='submitBtn' />
        </fieldset>
        
         <script type="text/javascript" charset="utf-8">
    		var submit = function() {
      				var key = $('#key').val();
      				jsRoutes.controllers.Application.userGet(key).ajax({
        				success: function(data) {
          				$("#value").html(data);
        			},
        			error: function() {
          				$("#value").html("Error!")
        			}
      			})
    		};     
       
        $('#submitBtn').click(submit);
        </script>
   
    }

    